{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>


<h1> {{ user.username }}</h1>

<div class='profile-container'>
    <div>
        <div>
            <h3>Browse Recipes</h3>
            <hr>
    
            <div>
                <a href='{% url "home" %}'>All</a>
            </div>
    
            {% for diet in diets %}
                <div>
                    <a href='{% url "home" %}?q={{diet.name}}'>{{diet.name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <div>
            {% for recipe in recipes %}
                <div>
                    <h3><a href='{% url "recipe" recipe.id %}'>{{recipe.name}}</a></h3>
                    <div>
                        <a href='{% url "user-profile" recipe.user.id %}'>Created by: {{ recipe.user.username }}</a>
                        <p><span>{{recipe.tag}} {{recipe.meal}} for people on the {{recipe.diet}} diet!</span></p>
                        <p><small>{{recipe.description}}</small></p>

                        {% if request.user == recipe.user %}
                        <p><a href='{% url "update-recipe" recipe.id %}'>Update Recipe</a></p>
                        <a href='{% url "delete-recipe" recipe.id %}'>Delete Recipe</a>
                        {% endif %}
                        
                    </div>
                    
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}
